:host{
    .leaseweb-footer {
        background: grey;
        width: 100%;
        height: 30px;
        display: flex;
        font-size: 12px;
        color: #ccc;
        align-items: center;
        justify-content: center;
        place-items: center;
        position: fixed;
        right: 0;
        bottom: 0;
        p{
            margin: 0;
        }
    }
}