:host{
    .leaseweb-container {
        background: grey;
        width: 100%;
        height: 60px;
        display: flex;
        font-size: 26px;
        color: #FFF;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;
        padding-top: 10px;
    }
}