:host {
    width: 96%;
    .mat-elevation-z8 {
        .mat-table {
            width: 100%; 
            .mat-elevation-z8-table {
                background: #999;
                font-size: 14px;
                color: #FFF;
                font-family: tahoma;
                font-weight: bold;
            }  
            td {
                font-size: 13px;
                font-family: tahoma;
            }        
        }
    }
    .mat-accordion {
        .mat-expansion-panel-body {
            .example-section {
                mat-checkbox {
                    .mat-checkbox-layout {
                        padding-right: 15px;
                        padding-bottom: 15px;
                    }
                    .mat-checkbox-inner-container {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }
    }    
}