<div class="customer-container">
    <div class="customer-search-container">
        <form [formGroup]="myform" (ngSubmit)="onSubmit()">
            <div class="heading">
                Storage
            </div>
            <div class="search-content">
                <range-slider [min]="min1" 
                    [max]="max1" [step]="step" 
                    [(ngModel)]="stepRange" 
                    [highlightClass]="'stephighlightClass'" 
                    [barClass]="'stepBarClass'"
                    [sliderClass]="'stepSliderClass'"
                    formControlName="range">
                </range-slider>
            </div>
            <div class="heading">
                RAM
            </div>
            <div class="search-content check-box-container">
                <div *ngFor="let ramsize of ramCheckboxContent">
                    <mat-checkbox 
                        [checked]="ramsize.checked" 
                        [(ngModel)]="ramsize.checked" 
                        value="{{ramsize.value}}"
                        (change)="valueChange()"
                        formControlName="ram">
                        {{ ramsize.name }}
                    </mat-checkbox>
                </div>
            </div>
            <div class="heading">
                HDD
            </div>
            <div class="search-content search-content-container">
                <mat-form-field>
                    <mat-label>Select</mat-label>
                    <mat-select formControlName="hdd">
                        <mat-option *ngFor="let HDD of HDDs" [value]="HDD.value">
                            {{HDD.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="heading">
                Location
            </div>
            <div class="search-content search-content-container">
                <mat-form-field>
                    <mat-label>Select</mat-label>
                    <mat-select formControlName="location" >
                        <mat-option *ngFor="let location of locationDropdown" [value]="location">
                            {{ location  | slice:0:-6 }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <div class="example-button-row">
                    <button mat-raised-button type="submit">APPLY</button>
                </div>
            </div>
        </form>
    </div>
    <div class="customer-table-container">
        <app-customer-table [serverTabledata]="serverTabledata"></app-customer-table>
    </div>   

</div>